ac-comphist.dat
auto-save-list/
backup/
backups/
elpa/
ido.last
misc/
recentf
srecode-map.el
var/
bookmarks/session.*
session.*
*~
.mc-lists.el
.python-environments/
.anaconda-mode/
eshell/
projectile*
tramp
anaconda-mode/
helm-history
smex-items
abbrev_defs